body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    /* background-image: url("./assets/back.png");
    background-size: fit;
    background-repeat: no-repeat; */
}